{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}

<div class="sign-in-area ptb-100">
    <div class="container">
        <div class="sign-in-form sign_up_in">
            <div class="sign-in-title">
                <h3>Download App</h3>
                <!-- <p>Please Sign In to your account.</p> -->
            </div>{% if message %}

            <!--<div class="alert alert-success">-->
            <!--<a class="close" href="#" data-dismiss="alert">×</a>-->
              <h2>{{ message }}</h2>
            {% endif %}

            <form>
                          <div class="form-row" >
                            <div class="col">
                              <input type="tel" name="mobile" class="form-control" placeholder="Mobile" required>
                            </div>
                            <div class="col">
                              <input type="tel" name="cug" class="form-control" placeholder="CUG Mobile Number" required>
                            </div>
                                <div class="col-12 d-flex justify-content-center">
                            <button type="submit" class="default-btn">
                            Download
                            
                          </button>
                          </div>
                          </div>


                        <!-- <span>Don't have account? <a href="{% url 'frontend:become_partner' %}">Signup!</a></span>
                        <p class="forgot-password"><a href="#">Forgot Password?</a></p> -->

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>{% endblock %}