<!--{% extends "index.html" %}-->

<!--{% block title %}Add Feedback Records{% endblock title %}-->

<!--{% block content %}-->
<!--  <div class="content-wrapper">-->
<!--	  <div class="container">-->
<!--		&lt;!&ndash; Content Header (Page header) &ndash;&gt;-->
<!--		<div class="content-header">-->
<!--			<div class="d-flex align-items-center">-->
<!--				<div class="mr-auto">-->
<!--					&lt;!&ndash; <h3 class="page-title">Edit</h3> &ndash;&gt;-->
<!--					<div class="d-inline-block align-items-center">-->
<!--						<nav>-->
<!--							<ol class="breadcrumb">-->
<!--								<li class="breadcrumb-item"><a href="index.html"><i class="mdi mdi-home-outline"></i></a></li>-->
<!--								<li class="breadcrumb-item" aria-current="page">Back</li>-->
<!--								&lt;!&ndash; <li class="breadcrumb-item active" aria-current="page">Edit</li> &ndash;&gt;-->
<!--							</ol>-->
<!--						</nav>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="right-title">-->
<!--					<span>Download Details</span>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->

<!--		&lt;!&ndash; Main content &ndash;&gt;-->
<!--		<section class="content">-->

<!--			<div class="row">-->
<!--			  <div class="col-12">-->
<!--				<div class="box">-->
<!--					<div class="box-header with-border">-->
<!--					  <h4 class="box-title">Add Download</h4>-->
<!--					</div>-->
<!--				  <div class="box-body">-->
<!--                    &lt;!&ndash; Step wizard &ndash;&gt;-->
<!--		    <div class="box box-default">-->
<!--			&lt;!&ndash; <div class="box-header with-border">-->
<!--			  <h4 class="box-title">Client Registration</h4>-->
<!--			  <h6 class="box-subtitle">You can find the <a href="#!" target="_blank">offical website </a></h6>-->
<!--			</div> &ndash;&gt;-->
<!--			&lt;!&ndash; /.box-header &ndash;&gt;-->
<!--			<div class="box-body wizard-content">-->

<!-- <form action="/crugapp/userssave/" method="post" class="tab-wizard wizard-circle" enctype="multipart/form-data" id="formid" >-->

<!--   						{% csrf_token %}-->


<!--				 <section>-->
<!--					 <div class="row">-->
<!--							<div class="col-md-6">-->
<!--								<div class="form-group">-->
<!--									<label for="photo">photo:</label>-->
<!--									<input type="file" name="photo" class="form-control" id="photo"> </div>-->
<!--							</div>-->
<!--						<div class="row">-->
<!--							<div class="col-md-6">-->
<!--								<div class="form-group">-->
<!--									<label for="fullname">Full name:</label>-->
<!--									<input type="text" name="fullname" class="form-control" id="fullname"> </div>-->
<!--							</div>-->
<!--							<div class="col-md-6">-->
<!--								<div class="form-group">-->
<!--									<label for="mobile">mobile :</label>-->
<!--									<input type="tel" name="mobile" class="form-control" id="mobile"> </div>-->
<!--							</div>-->
<!--						</div>-->

<!--                        <div class="row">-->
<!--							<div class="col-md-6">-->
<!--								<div class="form-group">-->
<!--									<label for="email"> email:</label>-->
<!--									<input type="email" name="email" class="form-control" id="email"> </div>-->
<!--							</div>-->
<!--							<div class="col-md-6">-->
<!--								<div class="form-group">-->
<!--									<label for="password"> password :</label>-->
<!--									<input type="password" name="password" class="form-control" id="password"> </div>-->
<!--							</div>-->

<!--							<div class="col-md-6">-->
<!--								<div class="form-group">-->
<!--									<label for="residential_address">residential_address :</label>-->
<!--									<input type="text" name="residential_address" class="form-control" id="residential_address"> </div>-->
<!--							</div>-->

<!--									<div class="col-md-6">-->
<!--								<div class="form-group">-->
<!--									<label for="residential_address2">residential_address2 :</label>-->
<!--									<input type="text" name="residential_address2" class="form-control" id="residential_address2"> </div>-->
<!--							</div>-->

<!--									<div class="col-md-6">-->
<!--								<div class="form-group">-->
<!--									<label for="country">country :</label>-->
<!--									<input type="text" name="country" class="form-control" id="country"> </div>-->
<!--							</div>-->
<!--									<div class="col-md-6">-->
<!--								<div class="form-group">-->
<!--									<label for="state">state :</label>-->
<!--									<input type="text" name="state" class="form-control" id="state"> </div>-->
<!--							</div>-->
<!--								<div class="col-md-6">-->
<!--								<div class="form-group">-->
<!--									<label for="city">city :</label>-->
<!--									<input type="text" name="city" class="form-control" id="city"> </div>-->
<!--							</div>-->
<!--															<div class="col-md-6">-->
<!--								<div class="form-group">-->
<!--									<label for="zipcode">zipcode :</label>-->
<!--									<input type="number" name="zipcode" class="form-control" id="zipcode"> </div>-->
<!--							</div>-->



<!--						</div>-->

<!--                        <div class="btn-group d-flex justify-content-end">-->
<!--                            <button class="btn btn-primary">Add user</button>-->
<!--                        </div>-->
<!--					</section>-->
<!-- </form>-->
<!--</div>-->
<!--{% endblock content %}-->