  <aside class="main-sidebar mysidebar">
    <!-- sidebar-->
    <section class="sidebar">

      <!-- sidebar menu-->
      <ul class="sidebar-menu" data-widget="tree">

        <li class="header nav-small-cap">CUG DASHBOARD</li>
		    <li class="">
          <a href="/crugapp/cugdashboard/">
            <i class="ti-dashboard"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li class="">
          <a href="/crugapp/onlineuser/">
            <i class="ti-user"></i>
            <span>Online User</span>
          </a>
        </li>

        <li class="">
          <a href="/crugapp/download/">
            <i class="ti-download"></i>
            <span>Downloads</span>
          </a>
        </li>

        <!-- <li class="treeview">
          <a href="#">
            <i class="ti-direction-alt"></i>
            <span>Blogs </span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#!"><i class="ti-more"></i>Create Blog </a></li>
            <li><a href="#!"><i class="ti-more"></i>Existing Blogs </a></li>
          </ul>
        </li> -->

        <li class="">
          <a href="/crugapp/feedback/">
            <i class="ti-settings"></i>
            <span>All Feedbacks</span>
          </a>
        </li>

        <li class="">
          <a href="/crugapp/reviews/">
            <i class="ti-write"></i>
            <span>All Reviews</span>
          </a>
        </li>

        <li class="">
          <a href="/crugapp/suggetions/">
            <i class="ti-panel"></i>
            <span>Suggestions</span>
          </a>
        </li>

        <li class="">
          <a href="/crugapp/viewregistration/">
            <i class="ti-direction-alt"></i>
            <span>User Profile</span>
            <!-- <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span> -->
          </a>
          <!-- <ul class="treeview-menu">
            <li><a href="manage_subscription.html"><i class="ti-more"></i>Manage Subscription </a></li>
            <li><a href="subscriber.html"><i class="ti-more"></i>Subscriber </a></li>
          </ul> -->
        </li>

        </li>

		    <!-- <li class="treeview">
          <a href="#">
            <i class="ti-server"></i>
			      <span>Data Storage</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="datastorage_backup.html"><i class="ti-more"></i>Backup</a></li>
            <li><a href="datastorage_backup.html"><i class="ti-more"></i>Syncronisation</a></li>
            <li><a href="data_restore.html"><i class="ti-more"></i>Restores</a></li>
          </ul>
        </li> -->
		    <!-- <li class="">
          <a href="#!">
            <i class="ti-crown"></i>
            <span>Become Member</span>
          </a>
        </li> -->

        <li class="">
          <a href="/crugapp/index/">
            <i class="ti-panel"></i>
            <span>Bank Details</span>
          </a>
        </li>

<!--                <li class="">-->
<!--          <a href="/crugapp/pendingdownloads/">-->
<!--            <i class="ti-panel"></i>-->
<!--            <span>Pending Downloads</span>-->
<!--          </a>-->
<!--        </li>-->

		    <li>
          <a href="/crugapp/logoutuser/">
            <i class="ti-power-off"></i>
			      <span>Log Out</span>
          </a>
        </li>

      </ul>
    </section>
  </aside>