<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Neo Admin</title>
      <!-- Custom fonts for this template-->

      <link  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
       <link href="css/admin.css" rel="stylesheet">

      <link href="css/all.min.css" rel="stylesheet" type="text/css">
	  		<link href="css/editor.css" type="text/css" rel="stylesheet"/>
   </head>
   <body id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">
         <!-- Sidebar -->
           <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion js-scroll-nav navbar-inverse navbar-fixed-top " id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
               <div class="sidebar-brand-icon rotate-n-15">
                  <i class="fas fa-laugh-wink"></i>
               </div>
               <div class="sidebar-brand-text mx-3">Neo Admin</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
               <a class="nav-link" href="index.html">
               <i class="fas fa-fw fa-tachometer-alt"></i>
               <span>Dashboard</span></a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item active">
               <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="true" aria-controls="collapseTwo">
               <span>Mange Contents</span>
               </a>
               <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                  <div class="py-2 collapse-inner rounded listy">
                     <ul>
                        <li ><a href="header.html">Header</a></li>
                        <li><a href="footer.html">Footer</a></li>
                        <li><a href="home-page.html">Home page</a></li>
                        <li><a href="aboutus.html">About us</a></li>
                        <li><a href="services.html">Services</a>
                        </li>
                        <li><a href="#">Features</a></li>
                        <li><a href="contactus.html">Contact us</a></li>

                     </ul>
                  </div>
				  </div>
            </li>
		  <li class="nav-item">
            <a class="nav-link collapsed" href="manage-SEO-content.html" >
            <span>Manage SEO Content</span>
            </a>

            </li>
		  <li class="nav-item">
            <a class="nav-link collapsed" href="news-events.html" >
            <span>Manage News & Medias</span>
            </a>

            </li>
            <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBlog"
               aria-expanded="true" aria-controls="collapseBlog">
            <span>Blog</span>
            </a>
            <div id="collapseBlog" class="collapse" aria-labelledby="headingBlog"
               data-parent="#accordionSidebar">
            <div class=" py-2 collapse-inner rounded listy">
            <ul>
            <li>
            <a href="publishblog.html">Publish Blog</a>
            </li>
            <li><a href="approve-publishcomment.html">Approve Comments </a></li>
            </ul>
            </div>
            </div>
            </li>
            <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCareer"
               aria-expanded="true" aria-controls="collapseCareer">
            <span>Career</span>
            </a>
            <div id="collapseCareer" class="collapse" aria-labelledby="headingCareer"
               data-parent="#accordionSidebar">
            <div class=" py-2 collapse-inner rounded listy">
            <ul>
            <li>
            <a href="postVacancy.html">Post Vacancies </a>
            </li>
            <li><a href="resume-receipt.html">Resume Receipt</a></li>
            </ul>
            </div>
            </div>
            </li>
			   <li class="nav-item">
            <a class="nav-link collapsed" href="partner-section.html" >
            <span>Partners</span>
            </a>

            </li>
			  <li class="nav-item">
            <a class="nav-link collapsed" href="testimonial.html" >
            <span>Testimonials</span>
            </a>

            </li>
             <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMobileApp"
               aria-expanded="true" aria-controls="collapseMobileApp">
            <span>Mobile App</span>
            </a>
            <div id="collapseMobileApp" class="collapse" aria-labelledby="headingDownloads"
               data-parent="#accordionSidebar">
            <div class=" py-2 collapse-inner rounded listy">
            <ul>
            <li>
            <a href="mobile-app-android.html">Android </a>
            </li>
            <li><a href="mobile-app-ios.html">IOS </a></li>
            </ul>
            </div>
            </div>
            </li>

            <li class="nav-item">
           <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownloads"
              aria-expanded="true" aria-controls="collapseDownloads">
           <span>Downloads</span>
           </a>
           <div id="collapseDownloads" class="collapse" aria-labelledby="headingDownloads"
              data-parent="#accordionSidebar">
           <div class=" py-2 collapse-inner rounded listy">
           <ul>
           <li>
           <a href="mobile-app-android.html">Android </a>
           </li>
           <li><a href="mobile-app-ios.html">IOS </a></li>
           </ul>
           </div>
           </div>
           </li>

           <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOnlineUsers"
             aria-expanded="true" aria-controls="collapseOnlineUsers">
          <span>Online Users</span>
          </a>
          <div id="collapseOnlineUsers" class="collapse" aria-labelledby="headingDownloads"
             data-parent="#accordionSidebar">
          <div class=" py-2 collapse-inner rounded listy">
          <ul>
          <li>
          <a href="mobile-app-android.html">Android </a>
          </li>
          <li><a href="mobile-app-ios.html">IOS </a></li>
          </ul>
          </div>
          </div>
          </li>

          <li class="nav-item">
         <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUserProfiles"
            aria-expanded="true" aria-controls="collapseUserProfiles">
         <span>User Profiles</span>
         </a>
         <div id="collapseUserProfiles" class="collapse" aria-labelledby="headingDownloads"
            data-parent="#accordionSidebar">
         <div class=" py-2 collapse-inner rounded listy">
         <ul>
         <li>
         <a href="mobile-app-android.html">Android </a>
         </li>
         <li><a href="mobile-app-ios.html">IOS </a></li>
         </ul>
         </div>
         </div>
         </li>

			<li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDataStorage"
               aria-expanded="true" aria-controls="collapseDataStorage">
            <span>Data Storage</span>
            </a>
            <div id="collapseDataStorage" class="collapse" aria-labelledby="headingDownloads"
               data-parent="#accordionSidebar">
            <div class=" py-2 collapse-inner rounded listy">
            <ul>
            <li>
            <a href="#">Backup </a>
            </li>
            <li><a href="#">Syncronisation</a></li>
			   <li><a href="#">Restores</a></li>
            </ul>

            </div>
            </div>
            </li>
			<li class="nav-item">
            <a class="nav-link collapsed" href="#" >
            <span>Feedback</span>
            </a>

            </li>
			<li class="nav-item">
            <a class="nav-link collapsed" href="#" >
            <span>Reviews</span>
            </a>

            </li>
			<li class="nav-item">
            <a class="nav-link collapsed" href="#" >
            <span>Internal Users</span>
            </a>

            </li>
				<li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseManageSubscription" aria-expanded="true" aria-controls="collapseManageSubscription">
            <span>Manage Subscription</span>
            </a>
            <div id="collapseManageSubscription" class="collapse" aria-labelledby="headingDownloads"
               data-parent="#accordionSidebar">
            <div class=" py-2 collapse-inner rounded listy">
            <ul>
            <li>
            <a href="#">Manage Subscription </a>
            </li>
            <li><a href="#">Subscribers	</a></li>

            </ul>

            </div>
            </div>
            </li>
				<li class="nav-item">
            <a class="nav-link collapsed" href="#" >
            <span>Support</span>
            </a>

            </li>
				<li class="nav-item">
            <a class="nav-link collapsed" href="#" >
            <span>Reports</span>
            </a>

            </li>

         </ul>
         <!-- End of Sidebar -->
         <!-- Content Wrapper -->
         <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
               <!-- Topbar -->
               <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                  <!-- Sidebar Toggle (Topbar) -->
                  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
                  </button>
                  <!-- Topbar Search -->
                  <form
                     class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                     <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                           aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                           <button class="btn btn-primary" type="button">
                           <i class="fas fa-search fa-sm"></i>
                           </button>
                        </div>
                     </div>
                  </form>
                  <!-- Topbar Navbar -->
                  <ul class="navbar-nav ml-auto">
                     <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                     <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                           aria-labelledby="searchDropdown">
                           <form class="form-inline mr-auto w-100 navbar-search">
                              <div class="input-group">
                                 <input type="text" class="form-control bg-light border-0 small"
                                    placeholder="Search for..." aria-label="Search"
                                    aria-describedby="basic-addon2">
                                 <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                    </button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </li>
                     <div class="topbar-divider d-none d-sm-block"></div>
                     <!-- Nav Item - User Information -->
                     <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                        <img class="img-profile rounded-circle"
                           src="img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                           aria-labelledby="userDropdown">
                           <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                           <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                           Logout
                           </a>
                        </div>
                     </li>
                  </ul>
               </nav>
               <!-- End of Topbar -->
               <!-- Begin Page Content -->
               <div class="container-fluid">
                  <!-- Page Heading -->
                  <div class="d-sm-flex align-items-center justify-content-between mb-4">
                     <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

                  </div>
                  <!-- Area Chart -->
                  <div class="col-xl-12 col-lg-12">
                     <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                           class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                           <h6 class="m-0 font-weight-bold text-primary">Neo Report</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
         <div class="container my-auto">
            <div class="copyright text-center my-auto">
               <span>Copyright &copy; Your Website 2020</span>
            </div>
         </div>
      </footer>
      <!-- End of Footer -->
      </div>
      </div>
      <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
      </a>
      <!-- Bootstrap core JavaScript-->
      <script src="js/jquery.min.js"></script>
      <script src="js/hs.scroll-nav.js"></script>
      <script src="js/hs.scrollbar.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery.easing.min.js"></script>
      <script src="js/sb-admin-2.min.js"></script>
	  	<script src="js/editor.js"></script>
			<script>
			$(document).ready(function() {
				$("#txtEditor").Editor();
			});
		</script>
      <script>
         $(document).on('ready', function () {
           // initialization of HSScrollNav component
           $.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
             duration: 700
           });
         });
      </script>
   </body>
</html>
