{% extends 'neoadmin/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
<div class="card shadow mb-4" id="">
<div class="card-header py-3">
{% if not objectToUpdate.id  %}
<h6 class="m-0 font-weight-bold text-primary">Add {{objectType}}</h6>
{% else %}
<h6 class="m-0 font-weight-bold text-primary">Approve Comment</h6>
{% endif %}
</div>
<div class="card-body">
<form class="user" enctype="multipart/form-data" method="post">
{% csrf_token %}
<div class="form-group row">
<div class="col-sm-12">
<label>Status</label>
   <select class="form-control " name="status" id="id_status">
     <option value="pending">Pending</option>
     <option value="approved">Approved</option>
     <option value="rejected">Rejected</option>
     <option value="hold">Hold</option>
   </select>

</div></div>

<div class="col-sm-12">
  {% if not objectToUpdate.id  %}
    <button formaction="/neoadmin/saveObject/{{objectType}}/" class="btn btn-primary btn-user" type="submit">Submit</button>
  {% else %}
    <button formaction="/neoadmin/updateObject/{{objectType}}/{{objectToUpdate.id}}/" class="btn btn-primary btn-user" type="submit">Update</button>
  {% endif %}
</div>
</form>
</div>
</div>

</div>
{% endblock %}
{% block script_code %}
  {% include "neoadmin/script_code.html" %}
{% endblock %}
{% block script_editor %}
  {% include "neoadmin/script_editor.html" %}
{% endblock %}
