{% extends 'neoadmin/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
<div class="card shadow mb-4" id="">
<div class="card-header py-3">
<h6 class="m-0 font-weight-bold text-primary">Add {{objectType}}</h6>
</div>
<div class="card-body">
<form class="user" enctype="multipart/form-data" method="post">
{% csrf_token %}
<div class="form-group row">
 <div class="col-sm-12">
<label>Company Logo</label>
     <input type="file" class="form-control" name="logo" id="id_logo">

  </div></div>

  <div class="form-group row">
   <div class="col-sm-12">
  <label>Footer Description</label>
       <input type="text" class="form-control" name="footer_description" id="id_footer_description">

    </div></div>

    <div class="form-group row">
     <div class="col-sm-12">
    <label>Google Play Store Link</label>
         <input type="url" class="form-control" name="google_play_store_link" id="id_google_play_store_link">

      </div></div>

      <div class="form-group row">
       <div class="col-sm-12">
      <label>Facebook Page Link</label>
           <input type="url" class="form-control" name="facebook_page_link" id="id_facebook_page_link">

        </div></div>

        <div class="form-group row">
         <div class="col-sm-12">
        <label>Twitter Page Link</label>
             <input type="url" class="form-control" name="twitter_page_link" id="id_twitter_page_link">

          </div></div>

          <div class="form-group row">
           <div class="col-sm-12">
          <label>Pinterest Page Link</label>
               <input type="url" class="form-control" name="pinterest_page_link" id="id_pinterest_page_link">

            </div></div>

            <div class="form-group row">
             <div class="col-sm-12">
            <label>LinkedIn Page Link</label>
                 <input type="url" class="form-control" name="linkedin_page_link" id="id_linkedin_page_link">

              </div></div>

<div class="col-sm-12">
  {% if not objectToUpdate.id  %}
    <button formaction="/neoadmin/saveObject/{{objectType}}/" class="btn btn-primary btn-user" type="submit">Save</button>
  {% else %}
    <button formaction="/neoadmin/updateObject/{{objectType}}/{{objectToUpdate.id}}/" class="btn btn-primary btn-user" type="submit">Update</button>
  {% endif %}
</div>
</form>
</div>
</div>

</div>
{% endblock %}
{% block script_code %}
  {% include "neoadmin/script_code.html" %}
{% endblock %}
{% block script_editor %}
  {% include "neoadmin/script_editor.html" %}
{% endblock %}
