{% extends 'neoadmin/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
<div class="card shadow mb-4" id="">
<div class="card-header py-3">
<h6 class="m-0 font-weight-bold text-primary">Add Mobile IOS App</h6>
</div>
<div class="card-body">
<form class="user" enctype="multipart/form-data" method="post">
{% csrf_token %}
<div class="form-group row">
<div class="col-sm-12">
<label>Version Number</label>
   <input type="text" class="form-control " name="version_number" id="id_version_number">

</div></div>

<div class="form-group row">
<div class="col-sm-12">
<label>Release Date</label>
   <input type="date" class="form-control " name="release_date" id="id_release_date">

</div></div>

<div class="form-group row">
<div class="col-sm-12">
<label>Upload</label>
   <input type="file" class="form-control " name="upload" id="id_upload">

</div></div>

<div class="col-sm-12">
  {% if not objectToUpdate.id  %}
    <button formaction="/neoadmin/saveObject/{{objectType}}/" class="btn btn-primary btn-user" type="submit">Submit</button>
  {% else %}
    <button formaction="/neoadmin/updateObject/{{objectType}}/{{objectToUpdate.id}}/" class="btn btn-primary btn-user" type="submit">Update</button>
  {% endif %}
</div>
</form>
</div>
</div>

</div>
{% endblock %}
{% block script_code %}
  {% include "neoadmin/script_code.html" %}
{% endblock %}
{% block script_editor %}
  {% include "neoadmin/script_editor.html" %}
{% endblock %}
