{% extends 'neoadmin/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
<div class="card shadow mb-4" id="">
<div class="card-header py-3">
<h6 class="m-0 font-weight-bold text-primary">Add {{objectType}}</h6>
</div>
<div class="card-body">
<form class="user" enctype="multipart/form-data" method="post">
{% csrf_token %}
<div class="form-group row">
 <div class="col-sm-12">
<label>Nav Item Name</label>
     <input type="text" class="form-control" name="nav_item" id="id_nav_item">

  </div></div>

  <div class="form-group row">
   <div class="col-sm-12">
  <label>Nav Item Link</label>
       <input type="text" class="form-control" name="nav_link" id="id_nav_link">

    </div></div>

<div class="col-sm-12">
  {% if not objectToUpdate.id  %}
    <button formaction="/neoadmin/saveObject/{{objectType}}/" class="btn btn-primary btn-user" type="submit">Save</button>
  {% else %}
    <button formaction="/neoadmin/updateObject/{{objectType}}/{{objectToUpdate.id}}/" class="btn btn-primary btn-user" type="submit">Update</button>
  {% endif %}
</div>
</form>
</div>
</div>

</div>
{% endblock %}
{% block script_code %}
  {% include "neoadmin/script_code.html" %}
{% endblock %}
{% block script_editor %}
  {% include "neoadmin/script_editor.html" %}
{% endblock %}
