{% extends "index.html" %}

{% block title %}Add User Records{% endblock title %}

{% block content %}
  <div class="content-wrapper">
	  <div class="container">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<!-- <h3 class="page-title">Edit</h3> -->
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/crugapp/cugdashboard/"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Back</li>
								<!-- <li class="breadcrumb-item active" aria-current="page">Edit</li> -->
							</ol>
						</nav>
					</div>
				</div>
				<div class="right-title">
					<span>User Details</span>
				</div>
			</div>
		</div>

		<!-- Main content -->
		<section class="content">

			<div class="row">
			  <div class="col-12">
				<div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">User Details</h4>
					</div>
				  <div class="box-body">
                    <!-- Step wizard -->
		    <div class="box box-default">
			<!-- <div class="box-header with-border">
			  <h4 class="box-title">Client Registration</h4>
			  <h6 class="box-subtitle">You can find the <a href="#!" target="_blank">offical website </a></h6>
			</div> -->
			<!-- /.box-header -->
			<div class="box-body wizard-content">
{% for data in obj %}
 <form action="/crugapp/edit_register/{{data.id}}/"  method="post" class="tab-wizard wizard-circle" enctype="multipart/form-data" id="formid" >

   {% csrf_token %}
 <section>
		 <div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="fullname">Full Name :</label>
									<input type="text" value="{{data.full_name}}" name="fullname" class="form-control" id="fullname"> </div>
							</div>

                                <div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="mobile"> mobile Number:</label>
									<input type="number" value="{{data.mobile}}"name="mobile" class="form-control" id="mobile"> </div>
							</div>


							<div class="col-md-6">
								<div class="form-group">
									<label for="email"> Email :</label>
									<input type="email" value="{{data.email}}" name="email" class="form-control" id="email"> </div>
							</div>
						</div>


							<div class="col-md-6">
								<div class="form-group">
									<label for="password">Password :</label>
									<input type="text" value="{{data.password}}" name="password" class="form-control" id="password"> </div>
							</div>
						</div>


							<div class="col-md-8">
								<div class="form-group">
									<label for="residential_address">Residential Address :</label>
									<input type="text" value="{{data.residential_address}}" name="residential_address" class="form-control" id="residential_address"> </div>
							</div>

     	<div class="col-md-8">
								<div class="form-group">
									<label for="residential_address2">Residential Address2 :</label>
									<input type="text" value="{{data.residential_address2}}" name="residential_address2" class="form-control" id="residential_address2"> </div>
							</div>

	<div class="col-md-6">
								<div class="form-group">
									<label for="country">Country:</label>
									<input type="text" value="{{data.country}}" name="country" class="form-control" id="country"> </div>
							</div>

	<div class="col-md-6">
								<div class="form-group">
									<label for="country">State:</label>
									<input type="text" value="{{data.state}}" name="state" class="form-control" id="state"> </div>
							</div>
	 	<div class="col-md-6">
								<div class="form-group">
									<label for="city">city:</label>
									<input type="text" value="{{data.city}}" name="state" class="form-control" id="city"> </div>
							</div>
     	<div class="col-md-6">
								<div class="form-group">
									<label for="country">Zip Code:</label>
									<input type="text" value="{{data.zipcode}}" name="zipcode" class="form-control" id="zipcode"> </div>
							</div>


                            <div class="col-md-6">
								<div class="form-group">
									<label for="photo">Photo :</label>
									<input type="file" name="photo" class="form-control" id="photo"> </div>
							</div>
                        </div>

                        <div class="btn-group d-flex justify-content-end">
                            <button class="btn btn-primary">Add Details</button>
                        </div>
					</section>
 </form>
</div>{% endfor %}
{% endblock content %}