{% extends "index.html" %}

{% block title %}Bank Records{% endblock title %}

{% block content %}
 <div class="content-wrapper">
	  <div class="container">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<!-- <h3 class="page-title">Edit</h3> -->
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/crugapp/cugdashboard/"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Back</li>
								<!-- <li class="breadcrumb-item active" aria-current="page">Edit</li> -->
							</ol>
						</nav>
					</div>
				</div>
				<div class="right-title">
					<span>Bank</span>
				</div>
			</div>
		</div>

		<!-- Main content -->
		<section class="content">

			<div class="row">
			  <div class="col-12">
				<div class="box">
					<div class="box-header with-border d-flex justify-content-between">
					  <h4 class="box-title">Bank Details</h4>
<!--                      <a href="{% url 'addnew'%}" class="btn btn-primary">Add Bank</a>-->
					</div>
				  <div class="box-body">
					<form action="#">
						<div class="form-body">
							<table id="example" class="table table-bordered" style="width:100%">
							<thead>
								<tr>
									<th>SNO.</th>
									<th>Id</th>
									<th>A/C Holder Name</th>
									<th>Bank Name</th>
									<th>A/C NO.</th>
									<th>IFSC Code</th>
									<th>Account Type</th>
								</tr>
							</thead>
							<tbody>

    <tr>

	</tr>

							</tbody>
    </table>
						</div>
					</form>
				  </div>
				</div>
			  </div>
		  </div>

		</section>
	  </div>
  </div></div>
    </div>
{%  endblock %}
