{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Neo Register </title>
      <!-- Custom fonts for this template-->
      <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
      <link
         href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
         rel="stylesheet">
         <link href="{% static 'css/admin.css' %}" rel="stylesheet">

        <link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
          <link href="{% static 'css/editor.css' %}" type="text/css" rel="stylesheet"/>
   </head>
   <body class="bg-gradient-primary">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
               <div class="card o-hidden border-0 shadow-lg my-5">
                  <div class="card-body p-0">
                     <div class="row justify-content-center">
                        <div class="col-lg-12">
                           <div class="p-5">
                             {% if messages %}
                                 {% for message in messages %}
                                     {% if message.tags == 'warning'%}
                                       <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                           {{ message }}
                                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                             <span aria-hidden="true">&times;</span>
                                           </button>
                                       </div>
                                     {% endif %}
                                 {% endfor %}
                             {% endif %}
                              <div class="text-center">
                                 <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                              </div>
                              <form class="user" action="/accounts/register/" method="post">
                                 {% csrf_token %}
                                 <div class="form-group row">
                                    <div class="col-sm-12">
                                       <input type="text" class="form-control form-control-user"
                                          placeholder="Full Name" name="name">
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <input type="email" class="form-control form-control-user"
                                       placeholder="Email Address" name="email">
                                 </div>
                                 <div class="form-group row">
                                    <div class="col-sm-12">
                                       <input type="tel" class="form-control form-control-user"
                                          placeholder="Mobile Number" pattern="[0-9]{10}" name="phone_no">
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                    <div class="col-sm-12">
                                       <input type="text" class="form-control form-control-user"
                                          placeholder="Designation" name="designation">
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                    <div class="col-sm-12">
                                      <select class="custom-select custom-select-lg mb-3 rounded" multiple name="permission_types">
                                       <option disabled>Permission Types</option>
                                       <option value="read">Read</option>
                                       <option value="write">Write</option>
                                       <option value="delete">Delete</option>
                                      </select>
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                    <div class="col-sm-12">
                                      <select class="custom-select custom-select-lg mb-3 rounded" multiple name="function_names">
                                       <option disabled>Function Access</option>
                                       <option value="manage_contents">Manage Website Contents</option>
                                       <option value="manage_seo_contents">Manage SEO Contents</option>
                                       <option value="manage_news_media">Manage News & Media</option>
                                       <option value="career">Career</option>
                                       <option value="blogs">Blogs</option>
                                       <option value="partners">Partners</option>
                                       <option value="testimonials">Testimonials</option>
                                       <option value="mobile_app">Mobile App</option>
                                       <option value="downloads">Downloads</option>
                                       <option value="online_users">Online Users</option>
                                       <option value="user_profiles">User Profiles</option>
                                       <option value="data_storage">Data Storage</option>
                                       <option value="feedbacks">Feedbacks</option>
                                       <option value="reviews">Reviews</option>
                                       <option value="internal_users">Internal Users</option>
                                       <option value="manage_subscription">Manage Subscription</option>
                                       <option value="support">Support</option>
                                       <option value="reports">Reports</option>
                                      </select>
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                       <input type="password" class="form-control form-control-user"
                                          id="exampleInputPassword" placeholder="Password" name="password">
                                    </div>
                                 </div>
                                 <button type="submit" class="btn btn-primary btn-user btn-block">
                                     Register Account
                                 </button>
                              </form>
                              <hr>
                              <div class="text-center">
                                  <a class="small" href="/accounts/forgotpassword">Forgot Password?</a>
                              </div>
                              <div class="text-center">
                                  <a class="small" href="/accounts/login/">Sign In!</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
