{% load static %}
{% include 'dashboard/bases.html'%}
{% include 'dashboard/sidebars.html' %}

{% block content %}
<div class="content-wrapper">
        <div class="container">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="d-flex align-items-center">
              <div class="mr-auto">
                <!-- <h3 class="page-title">Edit</h3> -->
                <div class="d-inline-block align-items-center">
                  <nav>
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="#"><i class="mdi mdi-home-outline"></i></a>
                      </li>
                      <!-- <li class="breadcrumb-item" aria-current="page">e-Commerce</li> -->
                      <li class="breadcrumb-item active" aria-current="page">
                        Back
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
              <div class="right-title">
                <span> Service Charge Structure</span>
              </div>
            </div>
          </div>

          <!-- Main content -->
          <section class="content">
            <div class="row">
              <div class="col-12">
                <div class="box">
                  <div class="box-header with-border">
                    <h4 class="box-title">Service Charge Structure</h4>
                  </div>
                  <div class="box-body">
                    <form action="/dashboard/service_charge_structure/" method="post">
                      {% csrf_token%}
                      <div class="form-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="font-weight-700 font-size-16"
                                >Country</label>
                              <!-- <input type="text" class="form-control" placeholder="Mobile"> -->
                              <select name="country" id="" class="form-control">
                                <option value="">Select Your Option</option>
                                <option value="india">india</option>
                                <option value="Dubai">Dubai</option>
                                <option value="China">China</option>
                                <option value="Sri Lanka">Sri Lanka</option>
                                <option value="Nepal">Nepal</option>
                                <option value="West_bengal">West bengal</option>

                              </select>
                            </div>
                          </div>
                          <!--/span-->

                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="font-weight-700 font-size-16"
                                >Profile Type</label
                              >
                              <!-- <input type="text" class="form-control" placeholder="Mobile"> -->
                              <select name="profile_type" id="" class="form-control">
                                <option value="employment">Employment</option>
                                <option value="retailers">Retailers</option>
                                <option value="dealer">Dealer</option>
                                <option value="proffessional">
                                  Professionals
                                </option>
                                <option value="others">Others</option>
                              </select>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="font-weight-700 font-size-16"
                                >Service Type</label
                              >
                              <input
                                      name="service_type"
                                type="text"
                                class="form-control"
                                placeholder="service_type"
                              />
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="font-weight-700 font-size-16"
                                >Service Name</label
                              >
                              <input
                                      name="service_name"
                                type="text"
                                class="form-control"
                                placeholder="service_name"
                              />
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="font-weight-700 font-size-16"
                                >Service Charge</label
                              >
                              <input
                                      name="service_charge"
                                type="text"
                                class="form-control"
                                placeholder="service_charge"
                              />
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="font-weight-700 font-size-16"
                                >GST rate</label
                              >
                              <input
                                      name="gst_rate"
                                type="text"
                                class="gst_rate"
                                id="name"
                              />
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="font-weight-700 font-size-16"
                                >GST amount</label
                              >
                              <input
                                      name="gst_amount"
                                      type="text"
                                      class="form-control"
                                      placeholder="gst_amount"
                              />
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="font-weight-700 font-size-16"
                                >Total Charges</label
                              >
                              <input
                                      name="total charges"
                                      type="text"
                                      class="form-control"
                                      placeholder="total_charges"
                              />
                            </div>
                          </div>



                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="font-weight-700 font-size-16"
                                >Status</label
                              >
                              <input
                                      name="status"
                                      type="text"
                                      class="form-control"
                                      placeholder="status"
                              />
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="font-weight-700 font-size-16"
                                >Action</label
                              >
                              <input
                                      name="action"
                                      type="text"
                                      class="form-control"
                                      placeholder="action"
                              />
                            </div>
                          </div>

                          <!--/span-->
                        </div>
                        <!--/row-->
                        <!--/row-->
                      </div>
                      <div class="form-actions mt-10 text-right">
                        <button type="submit" class="btn btn-lg btn-primary">
                          <i class="fa fa-check"></i> Generate
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- /.content -->
        </div>
      </div>
{% endblock %}
{% block script_code %}
<script>
      $(function () {
        $("#datepicker").datepicker();
      });
      $(function () {
        $("#datepicker1").datepicker();
      });
    </script>
{% endblock %}