{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}
<style>
  .sign-in-form {
  background: #f1eded;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  padding: 40px;
  border-radius: 5px;
  max-width: 600px;
  margin: auto;
}
</style>
<section class="page-banner">
   <div class="container">
      <div class="page-title-wrapper">
         <h1 class="page-title">Sign In</h1>
    <!--          {{request.user.email}}-->

      </div>
   </div>
   <div style="background-image: url(../img/parallax-2.jpg)" data-parallax="scroll"></div>
   <ul class="animate-ball">
      <li class="ball"></li>
      <li class="ball"></li>

      <li class="ball"></li>
      <li class="ball"></li>
   </ul>
</section>
<div class="sign-in-area ptb-100">
    <div class="container">
        <div class="sign-in-form sign_up_in">
            <div class="sign-in-title">
                <h3>Partner Login</h3>
            </div>



        <form action="#" method="post">
                {% csrf_token %}
        <input type="text" placeholder="User ID" required name="userid">
        <input type="password" placeholder="Password" required name="password">
                  <div class="col-lg-12">
                        <div class="send-btn mybtnlogin">
                            <button type="submit" class="default-btn">
                                Sign In Now
                                <span></span>
                            </button>
                        </div>
                  </div>


</form> {% comment %}
            {% endcomment %}




<!--                    <div class="col-lg-12">-->
<!--                        <div class="form-group">-->
<!--                            <label for="email">Write Your Email *</label>-->
<!--                            <input type="email" class="form-control" placeholder="Email" required>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-12">-->
<!--                        <div class="form-group">-->
<!--                            <label for="password">Password *</label>-->
<!--                            <input type="password" class="form-control" placeholder="Password" required>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; <div class="col-lg-12">-->
<!--                        <div class="form-check">-->
<!--                            <input type="checkbox" class="form-check-input" id="checkme">-->
<!--                            <label class="form-check-label" for="checkme">Keep me Log In</label>-->
<!--                        </div>-->
<!--                    </div> &ndash;&gt;-->
<!--                    <div class="col-lg-12">-->
<!--                        &lt;!&ndash; <p class="forgot-password"><a href="#">Forgot Password?</a></p> &ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="col-lg-12">-->
<!--                        <div class="send-btn mybtnlogin">-->
<!--                            <button type="submit" class="default-btn">-->
<!--                                Sign In Now-->
<!--                                <span></span>-->
<!--                            </button>-->
<!--                        </div>-->
        </form>
                        <br>
                        <span>Don't have account? <a href="{% url 'frontend:become_partner' %}">Signup!</a></span>
<!--                        <p class="forgot-password"><a href="/crugapp/forgotpass/">Forgot Password?</a></p>-->

                    </div>
                </div>
        </div>
    </div>
</div>{% endblock %}